<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="category-filter-icons">
      <div class="icon-container" (click)="toggleCategoryMenu()">
        <i class="fa-solid fa-list"></i>
        <span class="icon-label">Categories</span>
      </div>
      <div class="icon-container" (click)="toggleFilterMenu()">
        <i class="fa-solid fa-filter"></i>
        <span class="icon-label">Filter</span>
      </div>
    </div>
    <h4>Results: {{ totalElements }}</h4>
    <ng-container *ngIf="currentCategoryName">
      <h3>Category: {{ currentCategoryName }}</h3>
    </ng-container>
    <hr>
    <div class="container-fluid">
      <div class="row">
        <!-- loop over the collection of products -->
        <div *ngFor="let product of products" class="col-md-3">
          <div class="product-box">
            <a routerLink="/products/{{product.id}}">
              <img src="{{ product.imageUrl }}" class="img-responsive">
            </a>
            <a routerLink="/products/{{product.id}}">
              <h1>{{ product.name }}</h1>
            </a>
            <div class="price">{{ product.unitPrice | currency:'USD' }}</div>
            <button (click)="addToCart(product)" class="btn btn-primary btn-small">
              Add to cart
            </button>
          </div>
        </div>
      </div>
      <div class="footer-pagination">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-7">
            <div class="row justify-content-between align-items-center">
              <div class="col-md-9 d-flex justify-content-center">
                <ngb-pagination [(page)]="pageNumber"
                                [pageSize]="pageSize"
                                [collectionSize]="totalElements"
                                [maxSize]="5"
                                [rotate]="true"
                                [boundaryLinks]="true"
                                (pageChange)="listProducts()">
                </ngb-pagination>
              </div>
              <div class="col-md-3 d-flex justify-content-end align-items-center" style="margin-bottom: 25px;">
                <span class="mr-2">Page Size</span>
                <select id="pageSizeSelect" [(ngModel)]="pageSize" (change)="onPageSizeChange()">
                  <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end footer -->
      <app-product-category-menu *ngIf="showCategoryMenu"></app-product-category-menu>
      <app-filter [categoryId]="currentCategoryId" [selectedCategory]="currentCategoryName" *ngIf="showFilterMenu"
                  (filteredProducts)="handleFilteredProducts($event)"></app-filter>
    </div>
  </div>
</div>
